<div class="container">

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ログイン</h1>
    <p class="lead">ユーザー登録がまだの場合は先にユーザー登録してね</p>
    <p> </p>
    <%= link_to '/users/new' do %>
        <button type="button" class="btn btn-primary">新規ユーザー登録</button>
    <% end %>
  </div>
</div>
    <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <%= form_tag("/users/login") do %>
        <p>Emailアドレス</p>
        <input name="email">
        <P>パスワード</P>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
    <% end %>
</div>