<div class="container">
    <h1>ログイン</h1>
    <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <%= form_tag("/users/login") do %>
        <p>Emailアドレス</p>
        <input name="email">
        <P>パスワード</P>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
    <% end %>
</div>