<div class="container">
    <h1>新規ユーザー作成</h1>
    <%= form_tag("/users/create") do %>
        <P>ユーザー名</P>
        <input name="name">
        <p>Emailアドレス</p>
        <input name="email">
        <input type="submit" value="新規ユーザー作成">
    <% end %>
</div>