
<div class="container">
    <% @post.errors.full_messages.each do |message| %>
        <div class="alert alert-success" role="alert">
            <%= message %>
        </div>
    <% end %>
    <div class="posts-new">
        <%= form_tag("/posts/create") do %>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">新規投稿</label>
                <textarea name="new_content" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= @post.content %></textarea>
            </div>
            <input type="submit" label="送信">
        <% end %>
    </div>
</div>
